<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel = "stylesheet" href = "../static/css/style.css">
    <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
<body>
<header>
    <nav>
        <a href = "#"> МУЖСКОЕ </a>
        <a href = "#"> ЖЕНСКОЕ </a>
    </nav>
    <div class = "logo">
        <h1> ZAPISOFF </h1>
    </div>
    <div class = "network">
        <a href = "#">Информация о нас</a>
    </div>
</header>
<main>
    <div class = "main_banner">
        <img src = "../images/banners/main_banner.png" class = "main_banner_img" alt = "главный баннер магазина Zapisoff">
    </div>
    <div class = "sale">
        <span> SALE20% от 39%</span>
        <span> SALE20% от 39%</span>
        <span> SALE20% от 39%</span>
    </div>
</main>
<footer>

</footer>
</body>
</html>