<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>ZAPISOFF main Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "../static/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
</head>
<body>
<header>
    <nav>
        <a href = "#"> МУЖСКОЕ </a>
        <a href = "#"> ЖЕНСКОЕ </a>
    </nav>
    <div class = "logo">
        <h1> ZAPISOFF </h1>
    </div>
    <div class = "network">
        <a href = "#">Информация о нас</a>
    </div>
</header>
<main>
    <div class = "main_banner">
        <img src = "../images/banners/main_banner.png" class = "main_banner_img" alt = "главный баннер магазина Zapisoff">
    </div>
    <div class = "sale">
        <span> SALE20% от 39%</span>
        <span> SALE20% от 39%</span>
        <span> SALE20% от 39%</span>
    </div>
    <section class = "cloth">
        <div class = "cloth__t-shirt">
            <img src = "../images/banners/main_banner.png" class = "jeans__img" alt = "Футболки">
            <div>
                <strong> Футболки </strong>
            </div>
        </div>
        <div class = "cloth__jeans">
            <img src = "../images/banners/main_banner.png" class = "jeans__img" alt = "Джинсы">
            <div>
                <strong> Джинсы </strong>
            </div>
        </div>
        <div class = "cloth__dress">
            <img src = "../images/banners/main_banner.png" class = "jeans__img" alt = "Платья">
            <div>
                <strong> Платья </strong>
            </div>
        </div>
        <div class = "cloth__shoes">
             <img src = "../images/banners/main_banner.png" class = "jeans__img" alt = "Обувь">
            <div>
                <strong> Обувь </strong>
            </div>
        </div>
        <div class = "cloth__shorts">
             <img src = "../images/banners/main_banner.png" class = "jeans__img" alt = "Шорты">
            <div>
                <strong> Шорты </strong>
            </div>
        </div>
        <div class = "cloth__set">
             <img src = "../images/banners/main_banner.png" class = "jeans__img" alt = "Комплекты">
            <div>
                <strong> Комплекты </strong>
            </div>
        </div>
    </section>
</main>
<footer>

</footer>
</body>
</html>